* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  margin: 0;
  font-size: 18px;
}
.mt_1rem {
  margin-top: 1rem;
}
form {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  max-width: 360px;
  margin: 0 auto;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
legend + .form-group {
  margin-top: 0;
}
.form-group__label {
  margin-bottom: .5rem;
}
.button {
  margin-top: 1rem;
}

INPUT::-webkit-input-placeholder{
  font-size: 16px;
}
INPUT:-moz-placeholder {
  font-size: 16px;
}
input[placeholder] {
  font-size: 16px;
}