* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  margin: 0;
}
.mt_1rem {
  margin-top: 1rem;
}
form {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  max-width: 360px;
  margin: 0 auto;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.button {
  margin-top: 1rem;
}